body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    margin: 0;
  }
  
  .sidebar {
    width: 200px;
    background: #f4f4f4;
    padding: 1rem;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 2px 0 4px rgba(0,0,0,0.1);
  }
  
  .viewer {
    padding: 2rem;
    flex-grow: 1;
  }

  .avatar {
    broder-radius: 50%;
  }